/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body, section, header, nav, h1, h2, p, a {
    margin: 0;
    border: 0;
    padding: 0;

    font: inherit;
    text-align: inherit;
    text-decoration: inherit;
    color: inherit;

    background: transparent;
}
body {
    box-sizing: border-box;
    --dark-blue: #000066;
    --light-blue: #009999;
    color: yellow;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 40px 30px;
}
nav {
    background-color: var(--dark-blue);
    padding: 0 20px;
    height: 60px;
}
a {
    text-decoration: underline;
}
nav a {
    padding: 0 10px;
}
h1 {
    font-size: 60px;
}
.light-blue-box {
    background-color: var(--light-blue);
    width: 920px;
    padding: 50px;
    margin: 50px auto;
}
/* Main Nav */
.logo{
    height: 60px;
}
/* Index page */
.cats-holder {
    padding: 20px;
}
.cat-holder {
    background-color: var(--dark-blue);
    padding: 20px;
}
/* Show page */
.show {
    text-align: center;
    width: 500px;
}
table {
    margin: auto;
    background-color: white;
}
th {
    background-color: var(--dark-blue);
    padding: 20px;
}
td {
    color: black;
}
.show-btns {
    display: flex;
    flex-direction: column;
}
.show-btn {
    text-decoration: none;
    border-bottom: yellow solid 5px;
    padding: 0 8px;
    margin: 5px 10px;
}
/* Form Pages */
.form-page {
    width: 500px;
    text-align: center;
}
label {
    color: black;
    font-weight: bold;
    margin: 15px 0;
}
input, select {
    background-color: transparent;
    border: none;
}
input, select, textarea {
    font-family: inherit;
    border-bottom: yellow solid 5px;
    font-size: 30px;
    margin: 5px 10px;
}
textarea {
    width: 300px;
}