<%= render partial: 'shared/errors' %>
<section class="light-blue-box">
    <nav class="flex">
        <h1>All of the Cats In the World</h1>
        <a href="<%= new_cat_url %>">
            Add Cat
            <i class="fa fa-plus"></i>
        </a>
    </nav>
    <div class="cats-holder grid">
        <% Cat.all.each do |c| %>
            <div class="cat-holder">
                <img src="http://placekitten.com/231/231" alt="Placeholder pic of cat from placekitten.com">
                <%= link_to 'Rent ' + c.name, cat_url(c) %>
            </div>
        <% end %>
    </div>
</section>